.Page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.pageContainer {
    height: 80vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}